@charset "UTF-8";
/* Modal Html */
#fixedModalBtn{
	position: fixed;
    bottom: 0px;
    left: 0;
    width: 100px;
    height: 100px;
}

/* multipleBoardWrap*/
 ::-webkit-scrollbar {
         width:10px;    /*-- 세로 스크롤바 굵기 --*/
         height:10px;  /*-- 가로 스크롤바 높이 --*/
     }
     ::-webkit-scrollbar-thumb {
         width: 5px;     /*-- ?? --*/
     } 
     .multipleBoardWrap{
         width: 500px;
         height: 700px;
         overflow: scroll;
         overflow-x: hidden;
         flex-direction: column;
     }
     .multipleBoardWrap >div > div{
         width:100%;
         
     }
     .boardBody{
         border: 1px solid #868686;
   		border-radius: 10px;
   		margin:10px 10px 10px 10px;
   		    overflow: hidden;
     }
     .boardHeader{
     background-color:#86868630;
         border-bottom : 1px solid;
     }
     .boardHeader > h2{
     	padding-top: 20px;
    padding-left: 20px;
     }
     .boardHeader > p{
         font-size:13px;
     }
     
     .boardHeader  > img{
         height: 50px;
         width: 50px;
     }
     .boardContent > .textContent{
  		  overflow: scroll;
         margin-left: 25px;
         margin-right: 25px;
     }
     .boardContent > .imageContent{
         text-align: center;
         padding-top: 10px;
     }
     .boardContent > .imageContent > img{
         width: 300px;
         height: 300px;
     }
     .boardContent{
         border-bottom : 1px solid;
     }
     .boardFooter{
      background-color:#333333; 
     }
     .boardFooter{
     	font-size:15px;
     	font-weight:bold;
     }
     .loadingContent{
            background-image: url(../../image/common/loading.svg);
            background-repeat: no-repeat;
            background-size: 150px;
            height: 150px;
            background-position: 50% 50%;
        }
/* Bootstrap Overloading */
@media (min-width: 576px){
	.modal-dialog {
	    max-width: 700px;
	}
}
.modal-body{
	margin: 0 auto;
}
