@charset "UTF-8";
*{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 11pt;
}

html { 
	overflow-y:scroll; 
}
.pagination>li>a {
    color: #79bd9a;
    border: none;
}
.nav-bar {
        width: 100vw;
        height: 40px;
        background: #3c8621;
        min-width: 1800px;
        padding-left: 95%;
    }
    
 #header {
        /*position: absolute;*/
        top: 0;
        left: 0;
        z-index: 30002;
        width: 100vw;
        height: 150px;
        background: #fff;

    }

    .header {
        height: 110px;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
       min-width: 1860px;
        display: flex;
    }
    
    .menu-frame {
        width: auto;
        height: 100%;
        float: right;
        flex-grow: 1;
        background-color: white;
        min-width: 1800px;
    }
	.menu-frame>div {
        width: 80%;
        height: 110px;
        margin: 0 auto;
    }
    .main-img {
        width: 20%;
        height: 110px;
        float: left;
        box-sizing: border-box;
        line-height: 10;
   
        text-align: left;
    }
    .main-img img {
        height: 110px;

    }
    .main-menu {
        
        height: 100%;
        float: left;
        /* padding-left: 20px; */
        width: 60%;
        box-sizing: border-box;
    }
    .main-menu li {

        list-style: none;
        line-height: 171px;
        font-size: 30px;
        padding-left: 20px;
        display: inline-block;
    }
    .menu-list {
        padding: 0px;
        text-align: center;
    }

    .menu-list * {
        box-sizing: border-box;
    }

    .menu-list li {
        display: inline-block;
        list-style: outside none none;
        padding-left: 50px;
        padding-right: 50px;

    }
    .menu-list a {
        padding: 0.1em 0;
        color: black;
        position: relative;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 25px;
    }

    .menu-list a:before,
    .menu-list a:after {
        position: absolute;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .menu-list a:before {
        bottom: 0;
        display: block;
        height: 3px;
        width: 0%;
        content: "";
        background-color: #3c8621;
    }

    .menu-list a:after {
        left: 0;
        top: 0;
        padding: 0.2em 0;
        position: absolute;
        content: attr(data-hover);
        color: #ffffff;
        white-space: nowrap;
        max-width: 0%;
        overflow: hidden;
    }

    .menu-list a:hover:before,
    .menu-list .current a:before {
        opacity: 1;
        width: 100%;
    }

    .menu-list a:hover:after,
    .menu-list .current a:after {
        max-width: 100%;
    }
    .mem-sel {
       width: 20%;
        height: 100%;
        float: left;
        text-align: right;
        box-sizing: border-box;
    }
    .mem-sel li {
        padding-left: 20px;
        list-style: none;
        line-height: 40px;
        font-size: 12px;
        font-weight: bolder;
        display: inline-block;

    }
    .mem-sel a {
        color: black;
        text-decoration: none;
    }
    .mem-sel ul {
        padding: 0px;
        padding-right: 10px;
    }
    .search-frame {
        height: 50px;
        width: 100vw;
        /*position: absolute;*/
        top: 150px;
    }
    .nav-board{
    	width: 30px;
   	 	height: 100%;
    	text-align: center;
    	line-height: 46px;
    	float:left;
    	margin-right: 10px;
    	
    }
    .chat-bell{
    	position:relative;
    }
    .nav-board path{
    	
    }
    .nav-board svg{
    	width: 60% !important;
    height: 60% !important;
    }
    .nav-chat svg{
    		width: 60% !important;
    height: 60% !important;
    }
    .nav-chat a{
    	text-decoration:none;
    	color: black;
    }
    .chat-bell div{
    	position: absolute;
       top: 11px;
    left: 9px;
    border-radius: 50%;
    border: 7px solid red;
    display:none;
    }
    .chat-bell p{
    position: absolute;
    top: -23px;
    left: -6px;
    width: 12px;
    text-align: center;
    
    font-size: 2px;
    z-index:999;
    color: white;
    }